<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>NASA - Clouds and Weather</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<iframe src="https://worldview.earthdata.nasa.gov/?v=-103.96445074132836,-39.834935033418276,-7.917575741328356,7.063502466581728&l=Reference_Labels,Reference_Features,Coastlines,VIIRS_SNPP_CorrectedReflectance_TrueColor(hidden),MODIS_Aqua_CorrectedReflectance_TrueColor(hidden),MODIS_Terra_CorrectedReflectance_TrueColor"></iframe>
</ion-content>
